/* CSS declarations go here */


/*----------------Navbar------------------*/
.navbar-default{
  background-color:#af0303;
}

.navbar-default .navbar-nav > li > a:not(.language):hover,
.navbar-default .navbar-nav > li > a:not(.language):focus,
/*.navbar-default .navbar-nav > .active > a:not(.language):hover,*/
/*.navbar-default .navbar-nav > .active > a:not(.language):focus,*/
.navbar-default .navbar-nav > .open >a {

    text-decoration: none;
    background-color: white;
    /*background-color: green;*/
    color:black;
}
.navbar-default .navbar-brand {
    color:white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
/*.navbar-default .navbar-nav .language > .active > a:hover,
.navbar-default .navbar-nav .language > .active > a:focus {*/
    text-decoration: none;
    background-color: white;
    /*background-color: green;*/
    color:black;
}

.navbar-default .navbar-nav a.language,
.navbar-default .navbar-nav a.language:hover,
.navbar-default .navbar-nav a.language:focus {
/*.navbar-default .navbar-nav .language > .active > a:hover,
.navbar-default .navbar-nav .language > .active > a:focus {*/
    text-decoration: none;
    color:white;
    background-color:#af0303;
}

.navbar-default .navbar-nav > li> a:not(.language) {
    color:white;
}

/*----------------Navbar------------------*/

.excerptText{
  font-size: 20px;
  max-height: 226px;
  height: 226px;
  overflow : hidden;
    text-overflow: ellipsis;
    content: "";
    background: -webkit-linear-gradient(top,#000 70%, #fff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  /*white-space : wrap;*/
}

.fullText{
  font-size: 20px;
  /*max-height: 226px;*/
  /*height: 226px;*/
  overflow: visible;
   /* text-overflow: ellipsis;*/
   /* content: "";*/
   /* background: -webkit-linear-gradient(top,#000 70%, #fff);*/
   /*-webkit-background-clip: text;*/
   /*-webkit-text-fill-color: transparent;*/
}

/*.fr { font-family: "B-Nazanin"; }*/

/*++++++++++++++++++++++++  Blog Post Blocks  ++++++++++++++++++++++++++++*/
.thumbnail{
  height: 570px;
  max-height:570px;
  /*border-color: #B0C4DE;*/
  border-style: solid;
  border-width: 2px;
}
.thumbnail:hover{

  border-color: #0000FF;
  border-style: solid;
  border-width: 2px;
}
.excerpt{

  max-height: 120px;
  height: 120px;
  overflow : hidden;
  white-space : wrap;
}
.thumbnail-img{
  max-height: 270px;
  /*max-height: 400px;*/
  height: 270px;
  /*width: 200px;*/
}

.btn-posts{
  position: absolute;
  bottom: 50px;
}



/*@font-face {*/
/*    font-family: 'yekan';*/
/*    src:url('fonts/yekan.eot?#') format('eot'),    */
/*          url('fonts/yekan.woff') format('woff'),*/
/*          url('fonts/yekan.ttf') format('truetype'); */
/*}*/

/*.MyClass {*/
/*    font-family: 'yekan';*/
/*}*/

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*PODCAST page*/

/* Container holding the image and the text */
.podcasts .container_img {
    position: relative;
    text-align: center;
    color: white;
}


/* Centered text */
.podcasts .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.podcasts .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.podcasts .thumbnail{
  height: 310px;
  max-height:310px;
  /*border-color: #B0C4DE;*/
  border-style: solid;
  border-width: 2px;
}
.podcasts .thumbnail:hover{

  border-color: #0000FF;
  /*border-color: red;*/
  border-style: solid;
  border-width: 2px;
}

.podcasts .image{
  /*width: 100%;*/
  /*max-height: 250px;*/
  height: 250px;
}

/*.podcasts .title2{*/
/*  position: absolute;*/
/*  bottom: 20px;*/
/*  right: 30px;*/
/*}*/

.podcasts .title{
  direction: rtl;
  margin:7px;
}


.podcasts .btn-podcasts{
  position: absolute;
  bottom: 35px;
}


/*.podcasts .title{*/
  /*position: absolute;*/
  
  /*left:320px;*/
  /*left:160px;*/
  /*direction: rtl;*/
  /*text-align:center;*/
  /*margin-bottom: 3px;*/
  /*bottom: 150px;*/
  /*top:50px;*/
/*}*/

/*-----------------------------------------------*/